h1 { 
    color:blue;

    font-family: Arial;
}
body {
    background-color:lightblue;
  
     font-family: Arial;
     text-align: center;
     
}
p {
    font-family: Arial;
    
}
